
<header class='flex shadow-lg py-4 px-4 rounded-md sm:px-10 bg-transparent font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
  <div class='flex flex-wrap items-center justify-between gap-4 w-full'>
      <a href="javascript:void(0)"><img
        src="https://www.eafit.edu.co/SiteCollectionImages/logo.png" alt="logo" class='w-36' />
    </a>  
    
    <div class='flex items-center ml-auto space-x-6'>
      <button class='font-semibold text-[15px] border-none outline-none transition duration-100 ease-in-out transform hover:-translate-x hover:scale-105'><a routerLink="/login"
          class='text-[#000066] '>Identificarse</a></button>
          <a routerLink="/register">
          <button
        class='px-4 py-2 text-sm rounded-md font-bold text-white border-2  border-gray-900 
         bg-gray-800 transition duration-100 ease-in-out transform hover:-translate-x hover:scale-105'>
         Registrarse</button>
        </a>

      <button id="toggleOpen" *ngIf="hiddenToggle" class='lg:hidden flex flex-col relative' (click)="toggleMenu()">
        <svg class="w-7 h-7" fill="#333" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <div *ngIf="isMenuVisible" class="bg-gradient-to-br from-gray-800 to-gray-900  p-3   text-white absolute right-20 z-50 mt-2 top-16 rounded-md">
        <div class=" flex flex-col gap-5 ">
            
            <a (click)="onSelect('PanelDeSeguimiento')"  class="hover:bg-white/20 transition duration-300 rounded px-3"  routerLink="/dashboard">
                Panel De Seguimiento
            </a>
            <a (click)="onSelect('Perfiles')"  class="hover:bg-white/20 transition duration-300 rounded px-3"  routerLink="/profile">
                Perfiles
            </a>
            <a (click)="onSelect('Registros')"  class="hover:bg-white/20 transition duration-300 rounded px-3"  routerLink="/tables">
                Registros</a>
            <a (click)="onSelect('DescargaLibro')" class="hover:bg-white/20 transition duration-300 rounded px-3"  href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195" target="_blank">
                Descargar Libro
            </a>
            <a class="hover:bg-white/20 transition duration-300 rounded px-3"  href="landing-page">
                Cerrar Sesión
            </a>
        </div>
      </div>


      <div id="collapseMenu" style="display: none;">
      </div>
    </div>
  </div>
</header>

