<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-dark-blue">
      <div class="mt-3 text-center">
          <h3 class="text-lg leading-6 font-medium text-white">{{isEditMode ? 'Editar Usuario' : 'Agregar Usuario'}}</h3>
          <div class="mt-2 px-7 py-3">
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="mb-4">
                      <label class="block text-white text-sm font-bold mb-2" for="nombre">
                          Nombre
                      </label>
                      <input 
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          id="nombre"
                          type="text"
                          formControlName="nombre">
                  </div>
                  <div class="mb-4">
                      <label class="block text-white text-sm font-bold mb-2" for="roles">
                          Roles
                      </label>
                      <input 
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          id="roles"
                          type="text"
                          formControlName="roles">
                  </div>
                  <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="estado">
                        Estado
                    </label>
                    <select 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="estado"
                        formControlName="estado">
                        <option value="" disabled selected>Seleccionar</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
                  <div class="mb-4">
                      <label class="block text-white text-sm font-bold mb-2" for="vencimiento">
                          Vencimiento
                      </label>
                      <input 
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          id="vencimiento"
                          type="date"
                          formControlName="vencimiento">
                  </div>
                  <div class="flex items-center justify-between px-4 py-3">
                      <button
                          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                          type="submit">
                          {{isEditMode ? 'Actualizar' : 'Agregar'}}
                      </button>
                      <button
                          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                          type="button"
                          (click)="onCancel()">
                          Cancelar
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>