<div class="bg-[#00A9E0]">
  <div class="p-4">
    <nav class="">
      <app-header />
    </nav>
  </div>

  <div class="flex flex-col  md:flex-row md:items-center ">
    <div class="flex-1 px-3 mx-3">
      <img src="https://www.eafit.edu.co/sites/catalogo/PublishingImages/Noticias/2023/Centros-de-Interes.jpg"
        alt="Descripción de la imagen" class="min-w-96">
    </div>
    <div class="flex-1  text-white p-6 m-5">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsa iure sequi odit ipsam perspiciatis
        asperiores odio itaque? Praesentium quia, deserunt minus excepturi nesciunt accusamus laboriosam quibusdam
        aspernatur quis iure.
        Ratione, dolore omnis voluptatibus, id consequuntur atque unde ducimus corporis cumque molestias, eaque magnam
        nulla voluptas! Inventore voluptatem molestias incidunt magnam. Reprehenderit adipisci magnam autem rem ad
        amet
        maiores. Itaque.
        Totam esse quasi cupiditate libero culpa dolores blanditiis doloremque qui repellat deleniti vel, repellendus
        optio ea sint quas porro molestias necessitatibus illo! Iusto tempora omnis et quaerat, vero explicabo qui?
        Architecto necessitatibus recusandae molestias corrupti officia et ipsum, enim ullam, debitis hic laboriosam.
        Velit ut, itaque, mollitia hic rem distinctio ducimus repellat, beatae doloremque cum debitis adipisci nihil
        eveniet in!
      </p>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row md:items-center items-center ">
    <div class="flex-1  text-white p-6 m-5">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsa iure sequi odit ipsam perspiciatis
        asperiores odio itaque? Praesentium quia, deserunt minus excepturi nesciunt accusamus laboriosam quibusdam
        aspernatur quis iure.
        Ratione, dolore omnis voluptatibus, id consequuntur atque unde ducimus corporis cumque molestias, eaque magnam
        nulla voluptas! Inventore voluptatem molestias incidunt magnam. Reprehenderit adipisci magnam autem rem ad
        amet
        maiores. Itaque.
        Totam esse quasi cupiditate libero culpa dolores blanditiis doloremque qui repellat deleniti vel, repellendus
        optio ea sint quas porro molestias necessitatibus illo! Iusto tempora omnis et quaerat, vero explicabo qui?
        Architecto necessitatibus recusandae molestias corrupti officia et ipsum, enim ullam, debitis hic laboriosam.
        Velit ut, itaque, mollitia hic rem distinctio ducimus repellat, beatae doloremque cum debitis adipisci nihil
        eveniet in!
      </p>
    </div>
    <div class="flex-1 px-3 mx-3 ">
      <img src="https://www.eafit.edu.co/sites/catalogo/PublishingImages/Noticias/2023/Centros-de-Interes.jpg"
        alt="Descripción de la imagen" class="min-w-96">
    </div>

  </div>

  <div class="flex flex-col md:flex-row md:items-center items-center ">
    <div class="flex-1 px-3 mx-3 ">
      <img src="https://www.eafit.edu.co/sites/catalogo/PublishingImages/Noticias/2023/Centros-de-Interes.jpg"
        alt="Descripción de la imagen" class="min-w-96">
    </div>
    <div class="flex-1  text-white p-6 m-5">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsa iure sequi odit ipsam perspiciatis
        asperiores odio itaque? Praesentium quia, deserunt minus excepturi nesciunt accusamus laboriosam quibusdam
        aspernatur quis iure.
        Ratione, dolore omnis voluptatibus, id consequuntur atque unde ducimus corporis cumque molestias, eaque magnam
        nulla voluptas! Inventore voluptatem molestias incidunt magnam. Reprehenderit adipisci magnam autem rem ad
        amet
        maiores. Itaque.
        Totam esse quasi cupiditate libero culpa dolores blanditiis doloremque qui repellat deleniti vel, repellendus
        optio ea sint quas porro molestias necessitatibus illo! Iusto tempora omnis et quaerat, vero explicabo qui?
        Architecto necessitatibus recusandae molestias corrupti officia et ipsum, enim ullam, debitis hic laboriosam.
        Velit ut, itaque, mollitia hic rem distinctio ducimus repellat, beatae doloremque cum debitis adipisci nihil
        eveniet in!
      </p>
    </div>
  </div>
  <div>
    <app-footer />
  </div>
</div>