<div class="bg-[#BCE6FB]">
  <div class="p-4">
    <nav class="">
      <app-header />
    </nav>
  </div>

  <div class="my-6 font-[sans-serif]">
    <div class="text-center max-w-3xl mx-auto">
      <h2 class="font-bold text-3xl sm:text-4xl md:text-[40px] text-[#000066]">Nuestra Metodología</h2>
      <p class="text-gray-800 m-2 leading-relaxed text-base text-body-color">Una metodología fácil y ágil para formular
        la estrategia de estas
        empresas, desarrollada a través de procesos de cocreación y
        consultoría por docentes y estudiantes de pregrado y posgrado de
        la Escuela de Administración de la Universidad EAFIT para
        fortalecer el tejido empresarial colombiano.
      </p>
    </div>

    <div class="my-6 font-[sans-serif]">
      <div class="text-center max-w-3xl mx-auto">
        <h2 class="font-bold text-3xl sm:text-4xl md:text-[40px] text-[#000066]">Testimonios</h2>
        <p class="text-gray-800 mt-4 leading-relaxed text-base text-body-color">A lo largo de la existencia de
          Estramypime, se ha logrado brindar apoyo a pequeñas y medianas empresas, obteniendo grandes resultados, como:
        </p>
      </div>

      <div class="grid md:grid-cols-3 gap-6 max-w-6xl max-md:gap-16 max-md:max-w-lg mx-auto mt-20">
        <div class="w-full p-6 rounded-lg mx-auto shadow-[0_4px_14px_-6px_rgba(93,96,127,0.4)] bg-white relative">
          <img src="https://readymadeui.com/team-2.webp"
            class="w-14 h-14 rounded-full absolute right-0 left-0 mx-auto -top-7" />
          <div class="mt-6 text-center">
            <p class="text-gray-800 mt-4 leading-relaxed text-base text-body-color">El acompañamiento brindado me ha
              permitido diferenciarme de la competencia.</p>
          </div>

          <div class="flex justify-center space-x-1 mt-6">
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
          </div>

          <div class="mt-6 text-center">
            <h4 class="text-[#000066]  text-sm whitespace-nowrap font-bold">John Doe</h4>
          </div>
        </div>

        <div class="w-full p-6 rounded-lg mx-auto shadow-[0_4px_14px_-6px_rgba(93,96,127,0.4)] bg-white relative">
          <img src="https://readymadeui.com/team-3.webp"
            class="w-14 h-14 rounded-full absolute right-0 left-0 mx-auto -top-7" />
          <div class="mt-6 text-center">
            <p class="text-gray-800 mt-4 leading-relaxed text-base text-body-color">He logrado aclarar muchas dudas con
              respecto con respecto a la creación correcta de la estrategía de mi empresa, esto ha permitido tener
              claridad sobre el rumbo que debemos tener.</p>
          </div>

          <div class="flex justify-center space-x-1 mt-6">
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
          </div>

          <div class="mt-6 text-center">
            <h4 class=" text-[#000066]  text-sm whitespace-nowrap font-bold">Karolina Adair</h4>
          </div>
        </div>

        <div class="w-full p-6 rounded-lg mx-auto shadow-[0_4px_14px_-6px_rgba(93,96,127,0.4)] bg-white relative">
          <img src="https://readymadeui.com/team-4.webp"
            class="w-14 h-14 rounded-full absolute right-0 left-0 mx-auto -top-7" />
          <div class="mt-6 text-center">
            <p class="text-gray-800 mt-4 leading-relaxed text-base text-body-color">El libro aclara muchas dudas sobre
              los procesos para el diseño de la estrategía, además el acompañamiento que se brindado
              por parte de los estudiantes y docentes de la institución permiten que sea muy claro el camino a seguir
              para cumplir los objetivos.</p>
          </div>

          <div class="flex justify-center space-x-1 mt-6">
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg class="w-4 fill-[#facc15]" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
          </div>

          <div class="mt-6 text-center">
            <h4 class="text-[#000066]  text-sm whitespace-nowrap font-bold">Simon Konecki</h4>
          </div>
        </div>
      </div>
    </div>



    <link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
    <section class="bg-[#BCE6FB] pt-20 lg:pt-[60px] pb-12 lg:pb-[60px] relative z-20 overflow-hidden">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
              <h2 class="font-bold text-3xl sm:text-4xl md:text-[40px] text-[#000066] mb-4">
                Accede a nuestros servicios
              </h2>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center -mx-4">
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 flex">
            <div
              class="bg-white rounded-xl relative z-10 overflow-hidden border border-primary border-opacity-20 shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 flex flex-col w-full min-h-[600px]">
              <div class="flex-grow">
                <span class="text-[#000066] font-semibold text-lg block mb-4">
                  Diagnóstico
                </span>

                <p class="text-base text-body-color pb-8 mb-8 border-b border-[#F2F2F2]">
                  Aprenderás a realizar un proceso estratégico fácil, de manera
                  que puedas hacerlo frecuentemente y, además, te permita pensar
                  estratégicamente en el día a día de un negocio.
                </p>
                <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    Explorar
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Conocer
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Analizar
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Integrar
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Principal problema u oportunidad identificado en el
                    diagnóstico
                  </p>
                </div>
              </div>
              <a routerLink="/register"
                class="mt-auto w-full block text-base font-semibold text-[#000066] bg-transparent border border-[#D4DEFF] rounded-md text-center p-4 hover:text-white hover:bg-primary hover:border-primary transition">
                Inicia tu diagnóstico
              </a>
              <div>
                <span class="absolute right-0 top-7 z-[-1]">
                  <svg width="77" height="172" viewBox="0 0 77 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="86" cy="86" r="86" fill="url(#paint0_linear)" />
                    <defs>
                      <linearGradient id="paint0_linear" x1="86" y1="0" x2="86" y2="172" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.09" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="absolute right-4 top-4 z-[-1]"> </span>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 flex">
            <div
              class="bg-white rounded-xl relative z-10 overflow-hidden border border-primary border-opacity-20 shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 flex flex-col w-full min-h-[600px]">
              <div class="flex-grow">
                <span class="text-[#000066] font-semibold text-lg block mb-4">
                  Asesoría Básica
                </span>
                <p class="text-base text-body-color pb-8 mb-8 border-b border-[#F2F2F2]">
                  Desarrolla el diagnóstico y recibe acompañamiento de estudiantes
                  destacados de administración de la universidad Eafit, así
                  continuar en la co-creación de la Estrategía competitiva.
                </p>
                <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    Estapa de diagnóstico
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Acompañamiento estudiantes
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Co-creación de la Estrategía competitiva
                  </p>
                </div>
              </div>
              <a href="javascript:void(0)"
                class="mt-auto w-full block text-base font-semibold text-[#000066] bg-transparent border border-[#D4DEFF] rounded-md text-center p-4 hover:text-white hover:bg-primary hover:border-primary transition">
                Solicita este acompañamiento
              </a>
              <div>
                <span class="absolute right-0 top-7 z-[-1]">
                  <svg width="77" height="172" viewBox="0 0 77 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="86" cy="86" r="86" fill="url(#paint0_linear)" />
                    <defs>
                      <linearGradient id="paint0_linear" x1="86" y1="0" x2="86" y2="172" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.09" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="absolute right-4 top-4 z-[-1]"> </span>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 flex">
            <div
              class="bg-white rounded-xl relative z-10 overflow-hidden border border-primary border-opacity-20 shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 flex flex-col w-full min-h-[600px]">
              <div class="flex-grow">
                <span class="text-[#000066] font-semibold text-lg block mb-4">
                  Asesoría Premium
                </span>
                <p class="text-base text-body-color pb-8 mb-8 border-b border-[#F2F2F2]">
                  Desarrolla el diagnóstico y recibe
                  <strong>acompañamiento de educadores</strong> destacados de
                  administración de la universidad Eafit, así continuar en la
                  co-creación de la Estrategía competitiva.
                </p>
                <div class="mb-7">
                  <p class="text-base text-body-color leading-loose mb-1">
                    Estapa de diagnóstico
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Acompañamiento estudiantes
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Co-creación de la Estrategía competitiva
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    Seguimiento especializado
                  </p>
                  <p class="text-base text-body-color leading-loose mb-1">
                    $/ Se solicita el acompañamiento y se informará el costo
                  </p>
                </div>
              </div>
              <a href="javascript:void(0)"
                class="mt-auto w-full block text-base font-semibold text-[#000066] bg-transparent border border-[#D4DEFF] rounded-md text-center p-4 hover:text-white hover:bg-primary hover:border-primary transition">
                Accede al acompañamiento premiun
              </a>
              <div>
                <span class="absolute right-0 top-7 z-[-1]">
                  <svg width="77" height="172" viewBox="0 0 77 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="86" cy="86" r="86" fill="url(#paint0_linear)" />
                    <defs>
                      <linearGradient id="paint0_linear" x1="86" y1="0" x2="86" y2="172" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.09" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
                <span class="absolute right-4 top-4 z-[-1]"> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer />
  </div>