<footer class="py-2 h-[calc(10vh-32px)] content-end	relative" >
    <div class="flex w-full flex-wrap items-center justify-center  gap-6 px-2 md:justify-between absolute inset-x-0 bottom-0">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">© 2024. Made with by Nodo Eafit.</p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="https://www.eafit.edu.co/" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Eafit</a>
        </li>
        <li>
          <a href="https://es.nodoeafit.com/" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Nodo Eafit</a>
        </li>
        <li>
          <a href="https://editorial.eafit.edu.co/index.php/editorial/catalog/book/195" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Descargar Libro</a>
        </li>
      </ul>
    </div>
  </footer>
