<div class="mt-12">
  <div
    class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3 justify-between items-center"
  >
    <div
      class="relative bg-clip-border rounded-xl bg-dark-blue text-white shadow-md h-64 w-full"
    >
      <div class="p-4 text-center h-3/4 flex items-center justify-center">
        <img
          class="object-contain h-full w-full"
          src="https://res.cloudinary.com/dcnhhj8zq/image/upload/v1721156717/circulo_dorado_ilg5sk.png"
          alt="Circulo Dorado"
        />
      </div>
      <div class="border-t border-blue-gray-50 p-4 h-1/4">
        <p
          class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center"
        >
          <strong>Circulo Dorado</strong>
        </p>
      </div>
    </div>

    <div
      class="relative bg-clip-border rounded-xl bg-dark-blue text-white shadow-md h-64 w-full"
    >
      <div class="p-4 text-center h-3/4 flex items-center justify-center">
        <img
          class="object-contain h-full w-full"
          src="https://res.cloudinary.com/dcnhhj8zq/image/upload/v1721157603/radar_estrategico_ueeeaa.png"
          alt="Radar Estratégico"
        />
      </div>
      <div class="border-t border-blue-gray-50 p-4 h-1/4">
        <p
          class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center"
        >
          <strong>Radar Estratégico</strong>
        </p>
      </div>
    </div>

    <div
      class="relative bg-clip-border rounded-xl bg-dark-blue text-white shadow-md h-64 w-full"
    >
      <div class="p-4 text-center h-3/4 flex items-center justify-center">
        <img
          class="object-contain h-full w-full"
          src="https://res.cloudinary.com/dcnhhj8zq/image/upload/v1721157480/reloj_estrategico_geu9xp.png"
          alt="Reloj Estratégico"
        />
      </div>
      <div class="border-t border-blue-gray-50 p-4 h-1/4">
        <p
          class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center"
        >
          <strong>Reloj Estratégico</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-2">
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2"
    >
      <div
        class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6"
      >
        <div>
          <h6
            class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1"
          >
            RESULTADOS
          </h6>
        </div>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-[640px] table-auto">
          <thead>
            <tr>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
                >
                  EMPRESAS
                </p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
                >
                  ESTADO
                </p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
                >
                  PDF
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
                  >
                    InnovaTech Solutions
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
                >
                  Completado
                </p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <button
                  class="block antialiased font-sans text-xs font-medium text-white bg-blue-400 hover:bg-blue-600 rounded px-2 py-1"
                >
                  <i class="fas fa-download"></i>
                </button>
              </td>
              
            </tr>
            <tr>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
                  >
                  Green Horizon Enterprises
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-red-600"
                >
                  Incompleto
                </p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <button
                  class="block antialiased font-sans text-xs font-medium text-white bg-blue-400 hover:bg-blue-600 rounded px-2 py-1"
                >
                  <i class="fas fa-download"></i>
                </button>
              </td>
              
            </tr>
            <tr>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
                  >
                  QuantumLeap Innovations
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-blue-gray-900"
                >
                  Completado
                </p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <button
                  class="block antialiased font-sans text-xs font-medium text-white bg-blue-400 hover:bg-blue-600 rounded px-2 py-1"
                >
                  <i class="fas fa-download"></i>
                </button>
              </td>
              
            </tr>
            <tr>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
                  >
                  StellarWave Ventures
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-blue-gray-900"
                >
                  Completado
                </p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <button
                  class="block antialiased font-sans text-xs font-medium text-white bg-blue-400 hover:bg-blue-600 rounded px-2 py-1"
                >
                  <i class="fas fa-download"></i>
                </button>
              </td>
              
            </tr>
            <tr>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
                  >
                  UrbanEagle Dynamics
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-red-600"
                >
                  Incompleto
                </p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <button
                  class="block antialiased font-sans text-xs font-medium text-white bg-blue-400 hover:bg-blue-600 rounded px-2 py-1"
                >
                  <i class="fas fa-download"></i>
                </button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="text-blue-gray-600"></div>
