<!-- 
    <app-client-sidebar />
    <div class=" max-w-full lg:ml-80 p-3 " >
        <app-client-header/>
    </div>  -->

<div class=" p-2 h-screen min-h-80  flex   relative z-0  ">    <!--relative z-0-->
        
      <div class=" main  p-10  flex flex-col  items-center min-h-80 w-screen ">

        
        <p class=" font-bold text-3xl sm:text-4xl md:text-5xl  lg:text-6xl xl:text-7xl  whitespace-normal break-words">BIENVENIDO </p>
    
    
    
        <p class="font-semibold text-center text-3xl sm:text-4xl md:text-5xl  lg:text-6xl xl:text-7xl p-3  whitespace-normal break-words">A</p>
        <p class="font-semibold text-center text-3xl sm:text-4xl md:text-5xl  lg:text-6xl xl:text-7xl p-3  whitespace-normal break-words">Estramypime</p>
    
        <div class="flex flex-col justify-end mx-auto   w-3/4  ">
        <p class=" font-medium text-center  sm:text-2xl md:text-3xl lg:text-3xl xl:text-4xl p-9 ">Aqui encontrarás una guía para el uso de Estramipyme, una metodología fácil y ágil para diseñar una estrategia competitiva</p>
        </div>
    </div>
</div>

<!-- 
 <div class="lg:ml-80 ">
    <app-footer/>
</div>  -->