@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #BCE6FB;
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

